* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  color: #eeeeee;
}

.container::before {
  content: "";
  position: fixed;
  right: 0;
  top: -1%;
  left: -1%;
  z-index: -1;
  width: 102%;
  height: 102%;
  display: block;
  background-image: url("maintenance_bg.jpg");
  background-size: cover;
  filter: blur(10px);
}

a {
  color: #222831;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eeeeee;
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  background-color: rgba(34, 40, 49, 0.8);
}

table,
th,
td {
  border: 1px solid;
}

td {
  padding: 15px;
}

.container {
  width: 100%;
  padding: 20px;
  overflow: auto;
  position: relative;
  gap: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  overflow: hidden;
  margin-top: 20px;
}
.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
::placeholder {
  color: rgba(34, 40, 49);
}
input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  background-color: #eeeeee;
  color: rgba(34, 40, 49);
}

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 800;
  background-color: #eeeeee;
  color: #222831;
}

.modal-container {
  font-family: "Poppins", sans-serif;
}

.modal-btn {
  background-color: #00adb5;
  color: #eeeeee;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
  width: 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 40, 49, 0.8);
}

.modal-content {
  background-color: #393e46;
  color: #eeeeee;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 20%;
  left: 40%;
  justify-content: center;
}
.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-close {
  background-color: #00adb5;
  color: #eeeeee;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

.modal-tambah {
  display: none;
}

.modal-tambah:checked + .modal-btn + .modal {
  display: block;
}
.modal-update {
  display: none;
}

.modal-update:checked ~ .modal {
  display: block;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .form-container {
    width: 100%;
  }
  .table-container {
    width: 100%;
    padding: 0;
    margin: 20px;
  }
  table {
    width: 100%;
  }
}
